<!DOCTYPE html>
<html lang="en">
<style>
    h3 {
        font-size: 22px;
    }
    p {
        font-size: 20px;
    }
    button {
        font-size: 18px;
    }
    select {
        font-size: 15px;
    }
    .selectdd {
        font-size: 15px;
    }
</style>
<head>
    <title>Contacts</title>
</head>

<body>
    {{{ body }}}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>

</html>