<h2>Load contacts</h2>
<h4>CSV file to upload to database:</h4>
<br>
<input type="checkbox" id="clearDB" name="clearDB" value="on"> Empty the database before loading<br>
<br>
<input type="checkbox" id="clearCats" name="clearCats" value="on"> Remove categories before loading<br><br>
<input class="selectdd" accept=".csv, .CSV" style="padding:10px;" onchange="importFile(event)" type="file" id="files" name="files[]">
<br><br>

<h4 id="loading" style="background-color:#ffff99;"></h4>
<br><br>
<form method="get" action="/searchPage">
    <button id="searchPageButton" type="submit">Return to search page</button>
</form>
<script src="public/assets/js/index.js"></script>
<script src="config/socket.io.js"></script>
<link rel="stylesheet" type="text/css" href="public/assets/css/main.css">
